<div class="variant-metafields-section" style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div style="flex: 0 0 calc(50% - 10px); padding: 5px;">
      <table class="equal-width-table">
        <tr>
          <td>
            <strong>Make:</strong>
          </td>
          <td>{{ product.metafields.car.make | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Model:</strong>
          </td>
          <td>{{ product.metafields.car.model | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Year:</strong>
          </td>
          <td>{{ product.metafields.car.year | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Placement:</strong>
          </td>
          <td>{{ product.metafields.car.placement| metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Vehicle body style:</strong>
          </td>
          <td>{{ product.metafields.car.vehicle_body_style | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Fuel type:</strong>
          </td>
          <td>{{ product.metafields.car.fuel_type | metafield_tag }}</td>
        </tr>
        <tr>
            <td>
              <strong>Country of origin:</strong>
            </td>
            <td>{{ product.metafields.car.country_of_make | metafield_tag }}</td>
        </tr>
        <tr>
            <td>
              <strong>Color:</strong>
            </td>
            <td>{{ product.metafields.car.color | metafield_tag }}</td>
        </tr>
      </table>
    </div>
    <div style="flex: 0 0 calc(50% - 10px); padding: 5px;">
      <table class="equal-width-table">
        <tr>
          <td>
            <strong>Number of doors:</strong>
          </td>
          <td>{{ product.metafields.car.number_of_doors | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Transmission:</strong>
          </td>
          <td>{{ product.metafields.car.transmission | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Model version:</strong>
          </td>
          <td>{{ product.metafields.car.model_version | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Drive:</strong>
          </td>
          <td>{{ product.metafields.car.drive | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Additional identifier:</strong>
          </td>
          <td>{{ product.metafields.car.additional_identifier | metafield_tag }}</td>
        </tr>
        </tr>
        <tr>
          <td>
            <strong>Floor console:</strong>
          </td>
          <td>{{ product.metafields.car.floor_console | metafield_tag }}</td>
        </tr>
        <tr>
            <td>
              <strong>Floor type:</strong>
            </td>
            <td>{{ product.metafields.car.floor_type | metafield_tag }}</td>
        </tr>
        <tr>
          <td>
            <strong>Vehicle cabin size:</strong>
          </td>
          <td>{{ product.metafields.car.vehicle_cabin_size | metafield_tag }}</td>
        </tr>
        <tr>
            <td>
              <strong>Seating type:</strong>
            </td>
            <td>{{ product.metafields.car.seating_type | metafield_tag }}</td>
        </tr>
      </table>
    </div>
</div>