<div class="language-selector">
  <label for="language">Language:</label>
  <select id="language" name="language">
    {% for language in shop.languages %}
      <option value="{{ language.url }}">{{ language.name }}English</option>
      <option value="{{ language.url }}">{{ language.name }}French</option>
      <option value="{{ language.url }}">{{ language.name }}German</option>
    {% endfor %}
  </select>
</div>

<script>
  $(document).ready(function() {
  $('#language').on('change', function() {
    var url = $(this).val();
    window.location.href = url;
  });
});
</script>