{% comment %}
  @param product {Object}
    The product object

  @param layout {String}
    The layout type

  @param is_product_modal {Boolean}
    Is the snippet being loaded in a Quick shop

  @param is_featured_product {Boolean}
    Is the snippet being loaded in a Featured product

  @param onboarding {Boolean}
    Is there onboarding content

  @param show_dynamic_checkout_button {Boolean}
    If true, show dynamic checkout button

  @param select_first_available_variant {Boolean}
    If true, select the first available variant

  @param gallery_aspect_ratio {String}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {String}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {Boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% assign onboarding = onboarding | default: false %}
{% assign layout = layout | default: nil %}
{% assign is_featured_product = is_featured_product | default: false %}

{% if layout == 'layout--three-col' %}
  {% assign product_form = true %}
{% else %}
  {% assign product_form = false %}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'form' %}
        {% assign product_form = true %}
    {% endcase %}
  {% endfor %}
{% endif %}

{% liquid
  assign selected_variant = product.selected_variant

  if product.variants.size == 1 or select_first_available_variant or product_form == false
    assign selected_variant = product.selected_or_first_available_variant
  endif
%}

{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign sku = selected_variant.sku %}
{% assign product_available = product.available %}

{% comment %}For a potential divider in the product.description we need to split the content{% endcomment %}
{% assign readmore_split = product.description | split: '<!-- more -->' %}

{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    render 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%}

<article class="product--outer">
  {%
    render 'product-gallery',
    product: product,
    select_first_available_variant: select_first_available_variant,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    gallery_click_to_zoom: gallery_click_to_zoom,
    gallery_hover_zoom: gallery_hover_zoom
  %}

  <div class="product-main">
    <div class="product-details" data-product-details>
      {% for block in section.blocks %}
        <div
          class="
            product-block
            product-block--{{ block.type }}
            {% if forloop.first == true -%}
              product-block--first
            {% endif %}
          "
          {{ block.shopify_attributes }}
        >
          {% case block.type %}
            {% when 'complementary_products' %}
              {%
                render 'complementary-products',
                product: product,
                block: block,
              %}

            {% when 'title' %}
              {% if is_product_modal %}
                <h2 class="product-title">
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </h2>
              {% else %}
                {% if template == 'index' %}
                  <h2 class="product-title">
                {% else %}
                  <h1 class="product-title">
                {% endif %}
                  {% unless onboarding %}
                    {{ product.title }}
                  {% else %}
                    {{ 'onboarding.product.title' | t }}
                  {% endunless %}
                {% if template == 'index' %}
                  </h2>
                {% else %}
                  </h1>
                {% endif %}
              {% endif %}
            
            {% when 'vendor' %}
              {% if product.vendor != blank or onboarding %}
                <div class="product-vendor">
                  {% unless onboarding %}
                    {%- capture vendor_link -%}
                      {{ product.vendor | link_to_vendor }}
                    {%- endcapture -%}
                    {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
                  {% else %}
                    {{ 'onboarding.product.by_vendor' | t }}
                  {% endunless %}
                </div>
              {% endif %}

            {% when 'inventory_status' %}
              {% for variant in product.variants %}
                {% capture stock_attributes %}
                  data-stock-level
                  data-stock-variant-id="{{ variant.id }}"
                  data-stock-variant-selected="{% if variant == selected_variant %}true{% else %}false{% endif %}"
                {% endcapture %}

                {%
                  render 'product-stock-level',
                  attr: stock_attributes,
                  inventory_display: block.settings.inventory_display,
                  inventory_transfer: block.settings.inventory_transfer_notice,
                  variant: variant,
                  verbose: true,
                %}
              {% endfor %}

            {% when 'rating' %}
              {% if product.metafields.reviews.rating.value != blank %}
                <div class="product__rating rating">
                  {%
                    render 'rating-stars',
                    value: product.metafields.reviews.rating.value.rating,
                    scale_max: product.metafields.reviews.rating.value.scale_max,
                  %}

                  <p class="rating__text">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
                    </span>
                  </p>

                  <p class="rating__count">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating_count }}
                      {% if product.metafields.reviews.rating_count > 1 %}
                        {{ "general.accessibility.star_reviews_text" | t }}
                      {% else %}
                        {{ "general.accessibility.star_review_text" | t }}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endif %}
            {%- when 'sales_point' -%}
                    {%- unless block.settings.text == blank -%}
                      <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                        <ul class="sales-points">
                          <li class="sales-point">
                            <span class="icon-and-text">
                              {% case block.settings.icon %}
                                {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circle-checkmark" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13"/></svg>
                                {% when 'gift' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-gift" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M9 20.23h46v8.68H9zM13.34 28.91h36.89v24.3H13.34zM27.82 20.66v32.98M35.91 20.88v32.98M20.52 11.43a3.73 3.73 0 0 0-.74 2.87 4.57 4.57 0 0 0 .8 2.27C22 18.09 25.15 20 32 20.23a12 12 0 0 0-2.43-7 7.52 7.52 0 0 0-5.66-3.12 4 4 0 0 0-3.39 1.32z"/><path class="a" d="M43.37 11.43a3.73 3.73 0 0 1 .74 2.87 4.48 4.48 0 0 1-.8 2.27c-1.42 1.52-4.57 3.41-11.42 3.66a12.08 12.08 0 0 1 2.43-7A7.56 7.56 0 0 1 40 10.14a4 4 0 0 1 3.37 1.29z"/></svg>
                                {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-globe" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="a" cx="32" cy="32" r="22"/><path class="a" d="M13 21h38M10 32h44M13 43h38M32 10c-12 8-12 37 0 44M32 10c12 8 12 37 0 44"/></svg>
                                {% when 'heart' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-heart" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.27 15.05a13 13 0 0 0-18.44 0l-.83.83-.83-.83a13 13 0 0 0-18.44 18.44l.83.83L32 52.77l18.44-18.45.83-.83a13 13 0 0 0 0-18.44z"/></svg>
                                {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-leaf" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="a" d="M52 11L13 50M35 13v15h16"/><path class="a" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z"/></svg>
                                {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M19.45 23.6v-3.2c0-7 5.89-11.75 12.55-11.75 7.21 0 12.55 5.49 12.55 11.75v3.2M10 23.6h44v31.75H10zM32 37.47v7.47"/><circle class="a" cx="32" cy="35.87" r="1.6"/></svg>
                                {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-package" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M32 54.52L10 41.95v-19.9L32 9.48l22 12.57v19.9L32 54.52z"/><path class="a" d="M32 54.52v-19.9l22-12.57M32 34.62L10 22.05M41.7 15.02L21 28.33v8.38"/></svg>
                                {% when 'phone' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-phone" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M18.4 9.65l10.2 10.2-6.32 6.32c2.1 7 6.89 12.46 15.55 15.55l6.32-6.32 10.2 10.2-8.75 8.75C25.71 50.3 13.83 38.21 9.65 18.4z"/></svg>
                                {% when 'ribbon' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-ribbon" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M28.57 42.31l-8.36 13.07-2.6-7.17-7.61.65 8.35-13.07a17.05 17.05 0 0 0 8.12 5.94 17.3 17.3 0 0 0 1.74.5zM54 48.86l-7.61-.65-2.61 7.17-8.36-13.07.37-.08a16.4 16.4 0 0 0 1.73-.5 17 17 0 0 0 8.12-5.93z"/><path class="a" d="M49 25.64a16.79 16.79 0 0 1-3.14 9.85 3.55 3.55 0 0 1-.23.31 17 17 0 0 1-8.12 5.93 16.4 16.4 0 0 1-1.73.5l-.37.08a16.74 16.74 0 0 1-3.42.35 16.91 16.91 0 0 1-3.43-.35l-.36-.08a17.3 17.3 0 0 1-1.74-.5 17.05 17.05 0 0 1-8.12-5.94c-.07-.09-.15-.19-.22-.3A16.86 16.86 0 0 1 15 25.64a17 17 0 0 1 34 0z"/><path class="a" d="M36.09 27.78l.96 5.63L32 30.75l-5.05 2.66.96-5.63-4.09-3.98 5.65-.82L32 17.86l2.53 5.12 5.64.82-4.08 3.98z"/></svg>
                                {% when 'shield' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-shield" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M21.18 31.69L28.54 39l15.91-15.88"/><path class="a" d="M53 12.54v15.24a31.41 31.41 0 0 1-3.7 14.95A25.46 25.46 0 0 1 32 56a25.46 25.46 0 0 1-17.3-13.27A31.41 31.41 0 0 1 11 27.78V12.54C24.88 13.67 32 8 32 8s7.12 5.67 21 4.54z"/></svg>
                                {% when 'tag' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tag" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M46.69 10.34l-10.55.07-25.8 25.8 17.45 17.45 25.8-25.8.07-10.55-6.97-6.97z"/><circle class="a" cx="43.95" cy="20.05" r="3.53"/><path class="a" d="M14.4 32.15L31.85 49.6"/></svg>
                                {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-truck" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="a" d="M16.5 43.22H6.88V16.5h33.14v26.72H23.94M45.42 43.22h-5.4V30.4h17.1v12.82h-4.23M57.12 30.4l-6.41-8.56H40.02"/><circle class="a" cx="20.24" cy="43.76" r="3.74"/><path class="a" d="M45.42 43.23a3.82 3.82 0 1 1 0 .37v-.37"/></svg>
                              {% endcase %}
                              <span>{{ block.settings.text }}</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    {%- endunless -%}

            {% when 'key_details' %}
              {% unless block.settings.title == blank and block.settings.text == blank %}
                <div
                  class="key-details"
                  style="
                    --key-details-text-color: {{ block.settings.text_color }};
                    --key-details-icon-color: {{ block.settings.icon_color }};
                    --key-details-background-color: {{ block.settings.background_color }};
                  "
                >
                  {% if block.settings.image %}
                    {%
                      render 'rimg',
                      img: block.settings.image,
                      class: 'key-details__image',
                      size: '50x50',
                      lazy: true,
                      focal_point: block.settings.image.presentation.focal_point,
                    %}
                  {% else %}
                    {%
                      render 'icon-library',
                      id: block.settings.icon,
                      icon_class: 'key-details__icon',
                    %}
                  {% endif %}

                  <div class="key-details__wrapper">
                    {% if block.settings.title != blank %}
                      <p class="key-details__heading">
                        {{ block.settings.title | escape }}
                      </p>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      {{ block.settings.text }}
                    {% endif %}
                  </div>
                </div>
              {% endunless %}

            {% when 'price' %}
              <div
                class="product-pricing"
                aria-live="polite"
                data-product-pricing
              >
                {%
                  render 'product-badge',
                  product: product,
                  class_root: 'product',
                  product_available: product_available,
                  price: price,
                  price_varies: false,
                  compare_at_price: compare_at_price,
                  compare_at_price_varies: false,
                  on_sale: on_sale,
                  show_saved: true,
                  include_range: false,
                  selected_variant: selected_variant,
                %}

                {%
                  render 'product-price',
                  product: product,
                  class_root: 'product',
                  price: price,
                  price_varies: false,
                  compare_at_price: compare_at_price,
                  compare_at_price_varies: false,
                  on_sale: on_sale,
                  emphasize_price: false,
                  show_original: true,
                  show_range: false,
                  include_unit_price: true,
                  include_tax_line: true,
                  include_hidden_price: true
                %}

                <form data-payment-terms-target style="display: none;"></form>
              </div>

            {% when 'sku' %}
              {% unless onboarding %}
                <div
                  class="
                    product-sku
                    {% if sku == empty %}product-sku--empty{% endif %}
                  "
                >
                  {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
                </div>
              {% endunless %}

            {% when 'description' %}
              {% if readmore_split[0] != blank %}
                <div class="product-description rte" data-product-description>
                  {{ readmore_split[0] }}
                </div>
              {% endif %}

            {% when 'form' %}
              <div
                class="product-form--regular"
                data-product-form-regular
              >
                <div data-product-form-area>
                  {% if is_product_modal %}
                    <div data-product-quickshop-message class="product-message--container"></div>
                  {% endif %}

                  {% liquid
                    if product.template_suffix contains 'pre-order'
                      assign show_dynamic_checkout_button = false
                    endif

                    if product.template_suffix contains 'pre-order' and is_product_modal
                      assign enable_local_pickup = false
                    else
                      assign enable_local_pickup = block.settings.enable_local_pickup
                    endif
                  %}

                  {% unless onboarding %}
                    {%
                      render 'product-form',
                      product: product,
                      enable_local_pickup: enable_local_pickup,
                      show_dynamic_checkout_button: show_dynamic_checkout_button,
                      selected_variant: selected_variant,
                      is_product_modal: is_product_modal,
                    %}
                  {% endunless %}
                </div>
              </div>
            {% when 'search-popup-block' %}
            
            {% render 'search-popup' %}
            

            {% when 'text' %}
              <div class="product-text">
                {{ block.settings.text }}
              </div>

            {% when 'share' %}
              <div class="product-share">
                {{ share_buttons | strip_newlines }}
              </div>

            {% when 'custom-liquid' %}
              {% if block.settings.custom_liquid != blank %}
                <div class="custom-liquid">
                  {{ block.settings.custom_liquid }}
                </div>
              {% endif %}

            {% when 'tabs' %}
              {% if block.settings.show_tabs_below_product_gallery %}
                {% assign tabs_below_product_gallery = true %}
              {% else %}
                {% assign tabs_below_product_gallery = false %}
              {% endif %}

              {% capture product_tabs %}
                {% assign tab_counter = 1 %}

                <div class="pxu-tabs pxu-tabs--bottom-{{ tabs_below_product_gallery }}">
                  {% if block.settings.show_product_description %}
                    <input
                      class="tab-radio"
                      id="description-tab-{{ section.id }}"
                      name="{{ section.id }}"
                      tabindex="0"
                      type="radio"
                      checked="checked"
                    >

                    <label class="tab-label" for="description-tab-{{ section.id }}">
                      {{ 'product.onboarding.tab_title'| t }}
                    </label>

                    <div class="tab-panel" tabindex="0">
                      {% if onboarding %}
                        {{ 'product.onboarding.tab_content'| t }}
                      {% else %}
                        {% if product.description != blank %}
                          {{ product.description }}
                        {% else %}
                          {{ 'product.onboarding.tab_content'| t }}
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endif %}

                  {% for i in (1..3) %}
                    {% assign tab_text_key = 'tab_text_' | append: i %}
                    {% assign tab_heading_key = 'tab_heading_' | append: i %}
                    {% assign tab_heading_value = block.settings[tab_heading_key] %}
                    {% assign tab_text_value = block.settings[tab_text_key] %}

                    {% if tab_heading_value != blank %}
                      <input
                        class="tab-radio"
                        id="tab-{{ i }}-{{ section.id }}"
                        name="{{ section.id }}"
                        tabindex="0"
                        type="radio"
                        {% if tab_counter == 1 and block.settings.show_product_description == false %}
                          checked
                        {% endif %}
                      >

                      <label class="tab-label" for="tab-{{ i }}-{{ section.id }}">
                        {{ tab_heading_value | escape }}
                      </label>

                      <div class="tab-panel" tabindex="0">
                        {{ tab_text_value }}
                      </div>

                      {% assign tab_counter = tab_counter | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endcapture %}

              {% if block.settings.show_tabs_below_product_gallery != true %}
                {{ product_tabs }}
              {% endif %}

            {% when 'collapsible-tab' %}
              {% if block.settings.collapsible_tab_heading != blank %}
                <details class="collapsible-tab">
                  <summary class="collapsible-tab__heading">
                    <span>{{ block.settings.collapsible_tab_heading | escape }}</span>
                    {% render 'icon-chevron-down-small' %}
                  </summary>

                  {% if block.settings.collapsible_tab_text != blank %}
                    <div class="collapsible-tab__text">
                      {{ block.settings.collapsible_tab_text }}
                    </div>
                  {% endif %}
                </details>
              {% endif %}

            {% when '@app' %}
              <div class="product-app">
                {% render block %}
              </div>

            {% when 'view-product-link' %}
              <a
                class="product-link"
                href="{{ product.url | within: collection }}"
                data-product-details-link
              >
                {{ block.settings.text | escape }}
              </a>

            {% when 'request_quote' %}
              {%
                render 'product-request-form',
                product: product,
                heading: block.settings.title,
                show_quantity: block.settings.show_quantity,
                show_message: block.settings.show_message,
                selected_variant: selected_variant,
                sku: sku,
              %}
          {% endcase %}
        </div>
      {% endfor %}

      {% if layout == 'layout--three-col' %}
        <div class="product-form--regular" data-product-form-regular>
          <div data-product-form-area>
            {% if is_product_modal %}
              <div data-product-quickshop-message class="product-message--container"></div>
            {% endif %}

            {% liquid
              if product.template_suffix contains 'pre-order'
                assign show_dynamic_checkout_button = false
              endif

              if product.template_suffix contains 'pre-order' and is_product_modal
                assign enable_local_pickup = false
              else
                assign enable_local_pickup = section.settings.enable_local_pickup
              endif
            %}

            {% unless onboarding %}
              {%
                render 'product-form',
                product: product,
                enable_local_pickup: enable_local_pickup,
                show_dynamic_checkout_button: show_dynamic_checkout_button,
                selected_variant: selected_variant,
                is_product_modal: is_product_modal,
              %}
            {% endunless %}

            {% if section.settings.social_share and is_product_modal == false %}
              {{ share_buttons | strip_newlines }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
</article>

{% if tabs_below_product_gallery == true %}
  {{ product_tabs }}
{% endif %}

{% if readmore_split[1] != blank and is_featured_product != true and is_product_modal != true %}
  <div class="product-readmore rte" data-product-readmore>
    {{ readmore_split[1] }}
  </div>
{% endif %}

<!-- <div class="metafield-info">
{% assign selected_variant = product.selected_or_first_available_variant %}
{% if selected_variant %}
  {% assign metafield_value = selected_variant.metafields.car.make | metafield_tag %}
  <p>Make: {{ metafield_value }}</p>
{% assign metafield_value = selected_variant.metafields.car.model | metafield_tag %}
  <p>Model: {{ metafield_value }}</p>
{% assign metafield_value = selected_variant.metafields.car.year | metafield_tag %}
  <p>Year: {{ metafield_value }}</p>
{% assign metafield_value = selected_variant.metafields.custom.variant_identifier | metafield_tag %}
  <p>Placement: {{ metafield_value }}</p>
{% endif %}
</div> -->

<!-- <script>
  document.querySelector('.options-selection__option-values').addEventListener('click', function() {
    console.log("it works")
  });

  } -->


</script>
