<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ section.settings.faq_title | escape }}
  </h1>

  {% if section.settings.faq_description %}
    <div class="rte faq-description">
      {{ section.settings.faq_description }}
    </div>
  {% endif %}
  <div class="faq-container">
    <div class="tabs">
      {% for block in section.blocks %}
        {% assign item = block.settings %}

        <div class="tab">
          <input
            type="checkbox"
            id="faq_checkbox_{{ forloop.index }}"
            class="faq-checkbox"
          >
          <label
            for="faq_checkbox_{{ forloop.index }}"
            class="tab-label button button--primary"
          >
            {{- item.question -}}
          </label>
          <div class="tab-content">{{ item.answer }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "default": "Frequently Asked Questions",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "faq_description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "name": "FAQ Item",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Do you have a question?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>I have an answer</p>"
        },
        {
          "type": "color",
          "id": "faq_bgcolor",
          "label": "Choose background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "faq_color",
          "label": "Choose text color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ section"
    }
  ]
}
{% endschema %}

{% style %}
  .page-width {
      width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;

  }

  .main-page-title, .faq-description {
      text-align: center;
  }

  .faq-container {
    margin: 0 auto;
    width: 60%;
  }

  .faq-description {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .faq-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .tabs {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 12px #4141416e;
  }

  .tab {
    width: 100%;
    color: red;
    overflow: hidden;
  }

  .tab-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    color: {{ block.settings.faq_color }};
    background-color: {{ block.settings.faq_bgcolor }};
  }

  .tab-label:hover {
    background-color: black;
  }

  .tab-content {
    max-height: 0;
    padding: 0 1em;
    background-color: white;
    transition: all 0.2s ease;
    color: black;
  }

  .tab-content p {
    margin: 0;
  }

  .faq-checkbox:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
{% endstyle %}
